<%- include("includes/head.ejs") %>
<body>
  <h1>New Post</h1>
  <form action="/posts" method="post">
    <label for="user">Username :</label>
    <input type="text" name="username" id="user" placeholder="username">
    <br><br>
    <label for="content">Content :</label>
    <br>
    <textarea name="content" id="content" placeholder="Write Content here..." cols="30" rows="5"></textarea>
    <br><br>
    <button>Submit</button>
  </form>
</body>
</html>